@model Nop.Plugin.Payments.PayGate.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<script type="text/javascript">

	$(document).ready(function () {

	    $("#@Html.IdFor(model => model.EnableIpn)").click(toggleEnableIpn);

	    toggleEnableIpn();
	});

	function toggleEnableIpn() {
	    if ($('#@Html.IdFor(model => model.EnableIpn)').is(':checked')) {
	        $('#pnlIpnUrl').show();
	    }
	    else {
	        $('#pnlIpnUrl').hide();
	    }
	}
</script>

<form asp-controller="PaymentPayGate" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(T("Plugins.Payments.PayGate.Instructions"))

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSSL_OverrideForStore" asp-input="UseSSL" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSSL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSSL" />
                        <span asp-validation-for="UseSSL"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayGateID_OverrideForStore" asp-input="PayGateID" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayGateID" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayGateID" />
                        <span asp-validation-for="PayGateID"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EncryptionKey_OverrideForStore" asp-input="EncryptionKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EncryptionKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EncryptionKey" />
                        <span asp-validation-for="EncryptionKey"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>